

#title {

	animation: fill 0.5s ease forwards 2.5s;
}


#title path:nth-child(1) {
	stroke-dasharray: 147;
	stroke-dashoffset:147;
	animation: mover  2s ease forwards 0.03s;
}



#title path:nth-child(2) {
	stroke-dasharray: 116;
	stroke-dashoffset:116;
	animation: mover  2s ease forwards 0.06s;
}

#title path:nth-child(3) {
	stroke-dasharray: 74;
	stroke-dashoffset:74;
	animation: mover  2s ease forwards 0.09s;
}

#title path:nth-child(4) {
	stroke-dasharray: 74;
	stroke-dashoffset:74;
	animation: mover  2s ease forwards 0.12s;
}

#title path:nth-child(5) {
	stroke-dasharray: 112;
	stroke-dashoffset:112;
	animation: mover  2s ease forwards 0.15s;
}

#title path:nth-child(6) {
	stroke-dasharray: 128;
	stroke-dashoffset:128;
	animation: mover  2s ease forwards 0.18s;
}

#title path:nth-child(7) {
	stroke-dasharray: 93;
	stroke-dashoffset:93;
	animation: mover  2s ease forwards 0.21s;
}

#title path:nth-child(8) {
	stroke-dasharray: 179;
	stroke-dashoffset:179;
	animation: mover  2s ease forwards 0.24s;
}

#title path:nth-child(9) {
	stroke-dasharray: 116;
	stroke-dashoffset:116;
	animation: mover  2s ease forwards 0.27;
}

#title path:nth-child(10) {
	stroke-dasharray: 130;
	stroke-dashoffset:130;
	animation: mover  2s ease forwards 0.30s;
}

#title path:nth-child(11) {
	stroke-dasharray: 112;
	stroke-dashoffset:112;
	animation: mover  2s ease forwards 0.33s;
}

#title path:nth-child(12) {
	stroke-dasharray: 137;
	stroke-dashoffset:137;
	animation: mover  2s ease forwards 0.36s;
}

#title path:nth-child(13) {
	stroke-dasharray: 93;
	stroke-dashoffset:93;
	animation: mover  2s ease forwards 0.39s;
}

#title path:nth-child(14) {
	stroke-dasharray: 147;
	stroke-dashoffset:147;
	animation: mover  2s ease forwards 0.42s;
}

#title path:nth-child(15) {
	stroke-dasharray: 116;
	stroke-dashoffset:116;
	animation: mover  2s ease forwards 0.45s;
}

#title path:nth-child(16) {
	stroke-dasharray: 137;
	stroke-dashoffset:137;
	animation: mover  2s ease forwards 0.48s;
}

#title path:nth-child(17) {
	stroke-dasharray: 128;
	stroke-dashoffset:128;
	animation: mover  2s ease forwards 0.51s;
}

#title path:nth-child(18) {
	stroke-dasharray: 58;
	stroke-dashoffset:58;
	animation: mover  2s ease forwards 0.54s;
}

#title path:nth-child(19) {
	stroke-dasharray: 112;
	stroke-dashoffset:112;
	animation: mover  2s ease forwards 0.57s;
}

#title path:nth-child(20) {
	stroke-dasharray: 74;
	stroke-dashoffset:74;
	animation: mover  2s ease forwards 0.60s;
}

#title path:nth-child(21) {
	stroke-dasharray: 119;
	stroke-dashoffset:119;
	animation: mover  2s ease forwards 0.63s;
}

#title path:nth-child(22) {
	stroke-dasharray: 112;
	stroke-dashoffset:112;
	animation: mover  2s ease forwards 0.66s;
}

#title path:nth-child(23) {
	stroke-dasharray: 128;
	stroke-dashoffset:128;
	animation: mover  2s ease forwards 0.69s;
}

#title path:nth-child(24) {
	stroke-dasharray: 128;
	stroke-dashoffset:128;
	animation: mover  2s ease forwards 0.72s;
}

#title path:nth-child(25) {
	stroke-dasharray: 58;
	stroke-dashoffset:58;
	animation: mover  2s ease forwards 0.75s;
}




@keyframes mover {



	to {
		stroke-dashoffset:0;
	}

}


@keyframes fill {

	from{fill: transparent;}

	to{fill: white;}
}

